$theme-colors: (
  'primary': #75bdf1,
  'secondary': #b5b6b7,
  'success': #7bc34b,
  'warning': #fae87f,
  'danger': #f47676,
);

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

.nav-link {
  color: white !important;
}

a.active {
  font-weight: bold;
}
