indent = 8px;

.ma-1
  margin indent

.mt-1
  margin-top indent

.mb-1
  margin-bottom indent

.ml-1
  margin-left indent

.mr-1
  margin-right indent

.ma-2
  margin indent * 2

.mt-2
  margin-top indent * 2

.mb-2
  margin-bottom indent * 2

.ml-2
  margin-left indent * 2

.mr-2
  margin-right indent * 2

.ma-3
  margin indent * 3

.mt-3
  margin-top indent * 3

.mb-3
  margin-bottom indent * 3

.ml-3
  margin-left indent * 3

.mr-3
  margin-right indent * 3

.ma-4
  margin indent * 4

.mt-4
  margin-top indent * 4

.mb-4
  margin-bottom indent * 4

.ml-4
  margin-left indent * 4

.mr-4
  margin-right indent * 4

.pa-1
  padding indent

.pt-1
  padding-top indent

.pb-1
  padding-bottom indent

.pl-1
  padding-left indent

.pr-1
  padding-right indent

.pa-2
  padding indent * 2

.pt-2
  padding-top indent * 2

.pb-2
  padding-bottom indent * 2

.pl-2
  padding-left indent * 2

.pr-2
  padding-right indent * 2

.pa-3
  padding indent * 3

.pt-3
  padding-top indent * 3

.pb-3
  padding-bottom indent * 3

.pl-3
  padding-left indent * 3

.pr-3
  padding-right indent * 3

.pa-4
  padding indent * 4

.pt-4
  padding-top indent * 4

.pb-4
  padding-bottom indent * 4

.pl-4
  padding-left indent * 4

.pr-4
  padding-right indent * 4
